        /* ---- Global ---- */

* {
    -fx-font-family: "SF Pro Text", "Segoe UI", sans-serif;
}

        /* ---- Labels ---- */

.label {
    -fx-text-fill: #222;
    -fx-font-size: 17;
    -fx-font-weight: 500;
    -fx-padding: 5;
    -fx-alignment: center;
}

        /* ---- TextArea ---- */

.text-area {
    -fx-background-radius: 12;
    -fx-border-radius: 12;

    -fx-background-insets: 0, 1;
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-padding: 5;

    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
}

        /* ---- Canvas ---- */

.canvas {
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-padding: 5;
}

        /* ---- Containers ---- */

.tspl-code, .label-preview, .variables {
    -fx-padding: 10;
}

.tspl-code {
    -fx-pref-width: 500;
}

.label-preview {
    -fx-pref-width: 500;
}