/* ---- Global ---- */

* {
    -fx-font-family: "SF Pro Text", "Segoe UI", sans-serif;
}

/* ---- Labels ---- */

.label {
    -fx-text-fill: #222;
    -fx-font-size: 17;
    -fx-font-weight: 500;
    -fx-padding: 5;
    -fx-alignment: center;
}

/* ---- TextArea ---- */

.text-area {
    -fx-background-radius: 12;
    -fx-border-radius: 12;

    -fx-background-insets: 0, 1;
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-padding: 5;

    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
}

/* ---- Canvas ---- */

.canvas {
    -fx-border-color: #d0d0d0;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-padding: 5;
}

.separator {
    -fx-padding: 2 0 10 0;
}

.separator .line {
    -fx-border-color: transparent transparent #333 transparent;
    -fx-border-width: 0 0 2 0;
}


/* ---- Containers ---- */

.tspl-code, .label-preview, .settings, .footer {
    -fx-padding: 10;
}

.tspl-code {
    -fx-alignment: center;
}

/* ------ TSPL ------ */

.tspl-code .label {
    -fx-font-weight: 600;
    -fx-font-size: 20;
}

.tspl-code .text-area {
    -fx-pref-height: 800;
}

/* -- LABEL PREVIEW -- */

.label-preview {
    -fx-pref-width: 500;
    -fx-alignment: center;
}

.label-preview .label {
    -fx-font-weight: 600;
    -fx-font-size: 20;
}

/* ---- SETTINGS ---- */

.settings {
    -fx-alignment: center;
}

.settings .label {
    -fx-font-weight: 600;
    -fx-font-size: 20;
}